<div class="popup-top-bar">
    <h2>${user.name}</h2>
    <svg id="close-popup" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.585786 0.585786C1.36683 -0.195262 2.63317 -0.195262 3.41421 0.585786L10 7.17157L16.5858 0.585786C17.3668 -0.195262 18.6332 -0.195262 19.4142 0.585786C20.1953 1.36683 20.1953 2.63317 19.4142 3.41421L12.8284 10L19.4142 16.5858C20.1953 17.3668 20.1953 18.6332 19.4142 19.4142C18.6332 20.1953 17.3668 20.1953 16.5858 19.4142L10 12.8284L3.41421 19.4142C2.63317 20.1953 1.36683 20.1953 0.585786 19.4142C-0.195262 18.6332 -0.195262 17.3668 0.585786 16.5858L7.17157 10L0.585786 3.41421C-0.195262 2.63317 -0.195262 1.36683 0.585786 0.585786Z" fill="black"/>
    </svg>
</div>
<ul class="popup-main">
    <li class="popup-main-items">
        <h4 class="popup-main-label">Телефон: </h4>
        <p class="popup-main-content">${user.phone}</p>
    </li>
    <li class="popup-main-items">
        <h4 class="popup-main-label">Почта: </h4>
        <p class="popup-main-content">${user.email}</p>
    </li>
    <li class="popup-main-items">
        <h4 class="popup-main-label">Дата приёма: </h4>
        <p class="popup-main-content">${user.hire_date}</p>
    </li>
    <li class="popup-main-items">
        <h4 class="popup-main-label">Должность: </h4>
        <p class="popup-main-content">${user.position_name}</p>
    </li>
    <li class="popup-main-items">
        <h4 class="popup-main-label">Подразделение: </h4>
        <p class="popup-main-content">${user.department}</p>
    </li>
</ul>
<div class="popup-footer">
    <h4>Дополнительная информация</h4>
    <p>Разработчики используют текст в качестве заполнителя макта страницы. Разработчики используют текст в качестве заполнителя макта страницы.</p>
</div>